#divMensajes, #divMensajes_priv{
	border: 1px solid #ccc;
	float: left;
	height: 300px;
	min-height: 30px;
	overflow: scroll;
	width: 250px;
}

.form{
	float: left;
	margin: 10px;
}

#divUsuario{
	border: 1px solid #ccc;
	float: left;
	height: 100px;
	width: 100px;
	margin: 10px;
}

.userCon{
	cursor: pointer;
}

.seleccionPrivada{
	font-weight: bold;
}

.clear{
	clear: both;
}